body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(to bottom, #053d02, #187f13, #18d22e, #60ff04);
}
form{
    background: rgba(255, 255, 255, 0); 
    width: 550px;
    height: none;
    padding: 75px 50px;
    position:absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.img_container {
    height: 45px;
    width: 50%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
    width: 100px; 
    height: 100px;
}
.img_container img {
    max-width: 100%; 
    max-height: 100%; 
}
h1{
        text-align: center;
        margin-bottom: 65px;
        color: yellow;
        font-size: 45px;
        font-family: cursive;                
        font-weight: 400;
}
p{
    text-align: center;
    margin-bottom: 5px;
    color: white;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.dashboard_container {
    text-align: center;
    margin-top: 35px
}
.scanQR{
    height: 45px;
    width: 50%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: none;
    outline: none;
    background: #053d02;
    background-size: 200%;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 15px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.scanQR:hover {
    background-color: green; 
    background-position: center;
    font-size: 16px;
    color: black;
}
.LogoutBtn{
    height: 45px;
    width: 50%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: none;
    outline: none;
    background: #053d02;
    background-size: 200%;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 15px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.LogoutBtn:hover {
    background-color: #0bd830;
    background-position: right;
    font-size: 16px;
    color: black;
}

.logo{
    margin-top: 30px;
    width: 250px;
    margin: auto;
    height: 35%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.card {
    margin-top: auto;
}

.profile {
    
    width: 100%;
    height: 30px;
    margin-left: auto;
    text-align: center;
}

.card {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 5%; 
    width: 80%; 
    height: 50%;
    max-width: 400px; /* Set a maximum width */
    height: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    background: rgba(255, 255, 255, 0.15);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.6px);
    -webkit-backdrop-filter: blur(5.6px);
    border: 1px solid rgba(255, 255, 255, 0.06);
}

/* Media Query for smaller screens */
@media screen and (max-width: 600px) {
    .card {
        width: 90%; /* Adjust as needed */
        padding: 10px; /* Adjust as needed */
    }
}

.validateBtn {
    height: 45px;
    width: 50%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: none;
    outline: none;
    background: #053d02;
    background-size: 200%;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 15px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.validateBtn:hover {
    background-color: #0bd830;
    background-position: right;
    font-size: 16px;
    color: black;
}