body{
            
    background: linear-gradient(to bottom,#053d02,#187f13,#18d22e,#60ff04);;
    background-size: cover;
    margin: auto;
    padding: 0;
}
.container{
    text-align: center;
    margin-top: auto;
    display: flex;
    flex-direction: column
}

p{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    margin-bottom: 20px;
    color: #ffff;
    font-size: 40px;
}
.studentBtn{
    height: 100px;
    width: 50%;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: none;
    outline: none;
    background: #053d02;
    background-size: 200%;
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    cursor: pointer;
    border-radius: 50px;
}
.studentBtn:hover {
    background-color: #0bd830;
    background-position: center;
    font-size: 30px;
    color: black;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;

}
.adminBtn{
    height: 100px;
    width: 50%;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: none;
    outline: none;
    background: #053d02;
    background-size: 200%;
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    cursor: pointer;
    border-radius: 50px;
}
.adminBtn:hover {
    background-color: #0bd830; 
    background-position: center;
    font-size: 30px;
    color: black;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.logo-container{
    text-align: center; 
    
}

form   {
    margin-top: 500px;
    max-width: 800px;
    margin: auto;
    padding: 0 20px;
    background-color: none;

}

.logo {
  max-width: 90%;
  margin-top: auto;
 
}

.container-form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Set height to 100% of the viewport height */
    margin: 0;

}