body{
    background: linear-gradient(to bottom, #053d02, #187f13, #18d22e, #60ff04);
    background-size: cover;
    margin: 0;
    padding: 0;
}
.container{
    text-align: center;
}
form{
    background: rgba(255, 255, 255, 0);
    width: 550px;
    height: 580px;
    padding: 75px 50px;
    position:absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
h1{
    text-align: center;
    margin-bottom: 65px;
    color: yellow;
    font-size: 45px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight:400;
}
p{
    text-align: center;
    margin-bottom: 5px;
    color: #ffff;
    font-size: 18px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.studentBtn{
    height: 100px;
    width: 50%;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: none;
    outline: none;
    background: #053d02;
    background-size: 200%;
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    cursor: pointer;
    border-radius: 50px;
}
.studentBtn:hover {
    background-color: #0bd830; 
    background-position: center;
    font-size: 30px;
    color: black;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;

}
.adminBtn{
    height: 100px;
    width: 50%;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: none;
    outline: none;
    background: #053d02;
    background-size: 200%;
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    cursor: pointer;
    border-radius: 50px;
}
.adminBtn:hover {
    background-color: #0bd830; 
    background-position: center;
    font-size: 30px;
    color: black;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}