body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(to bottom, #053d02, #187f13, #18d22e, #60ff04);
}
.img_container {
    text-align: center;
    width: 200px; 
    height: 200px; /* Adjust the height of the container as needed */
    margin: 0 auto; /* Center the container horizontally */
    margin-bottom: 5px; /* Adjust margin as needed */
}
.img_container img {
    max-width: 100%; /* Set the maximum width of the image to 100% of the container */
    max-height: 100%; /* Set the maximum height of the image to 100% of the container */
}
.dashboard_container {
    text-align: center;
}
form{
    background: rgba(255, 255, 255, 0.33); /* RGBA color with 80% opacity */
    width: 550px;
    height: none;
    padding: 75px 50px;
    position:absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
p{
    text-align: center;
    margin-bottom: 5px;
    color: #ffff;
    font-size: 25px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.ClaimRewardBtn{
    height: 45px;
    width: 50%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: none;
    outline: none;
    background: #053d02;
    background-size: 200%;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 50px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.ClaimRewardBtn:hover {
    background-color: #0bd830;
    background-position: right;
    font-size: 16px;
    color: black;
}
.RewardsInfoBtn{
    height: 45px;
    width: 50%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: none;
    outline: none;
    background: #053d02;
    background-size: 200%;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 50px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.RewardsInfoBtn:hover {
    background-color: #0bd830;
    background-position: right;
    font-size: 16px;
    color: black;
}
.LogoutBtn{
    height: 45px;
    width: 50%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: none;
    outline: none;
    background: #053d02;
    background-size: 200%;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 50px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.LogoutBtn:hover {
    background-color: #0bd830;
    background-position: right;
    font-size: 16px;
    color: black;
}
.card {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 5%; /* Adjust as needed */
    width: 80%; /* Adjust as needed */
    max-width: 400px; /* Set a maximum width */
    height: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    background: rgba(255, 255, 255, 0.15);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.6px);
    -webkit-backdrop-filter: blur(5.6px);
    border: 1px solid rgba(255, 255, 255, 0.06);
}

@media screen and (max-width: 600px) {
    .card {
        width: 90%;
        padding: 10px; 
    }
}